<div class="bundle-top-wrapper">
  <h3 class="tac nmb ttu text-dark-red" id="bundle-title"></h2>
  <p class="tac nm" id="bundle-note"></p>
</div>

<style>
  .in-bundle .text-red, .in-bundle .price-details h5 { display: none;}
  .in-bundle, .bundle-top-wrapper  {
    width: 100%;
    margin: 0 auto;
    border-left: 2px solid #66cad8;
    border-right: 2px solid #66cad8;
    border-bottom: none;
}
  .in-bundle .quantity-wrapper-in-cart, .in-bundle .ajaxcart__qty, .in-bundle .cart-drawer-price { display: none;}
  .last-in-bundle { border-bottom: 2px solid #66cad8; }
  .bundle-top-wrapper { border-top: 2px solid #66cad8;  border-top-left-radius: 20px; border-top-right-radius: 20px;}
  #update-bundle, #remove-bundle { font-weight: lighter; }
</style> 

