<section id="cart-drawer" class="background-white">
  <div class="background-light-teal flex-container-no jcsb accent-padding">
    <a href="/cart">
      <img src="{{'bag.png' | asset_url}}" class="icon" id="go-to-cart" loading="lazy"/>
    </a>
    <h3 class="tac nm accent ttu text-white">Shopping Bag</h3>
    <img src="{{'exit.png' | asset_url}}" class="icon clickable" id="close-cart" onclick="cartClose();" loading="lazy">
  </div>

  <div id="test-element">test element</div>
</section>

<style>
  #cart-drawer {
    position: absolute;
    margin-left: 75%;
    height: 100%;

  }
</style>