    <div class="product-recommendations" style="display: none;">
      </div>

<style>
  .cbb-also-bought-container {
    background-color: white; 
    margin-top: 0 !important; 
    padding: 20px 0;
  }
.cbb-also-bought-product-image 
{
    overflow: hidden;
    background-position: center center;
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 245px;
    height: 265px;
    opacity: 1;
    background-color: #F3F8FB;
    border-radius: 10px;
}  
  .cbb-also-bought-title { text-transform: uppercase; margin-top: 0 !important; color: #007d84;}
  .cbb-also-bought-product-name {
      text-transform: uppercase;
    max-width: 200px;
    margin: 10px auto !important;
    min-height: 50px !important; 
}
  .cbb-recommendations-variant-select { 
    font-family: 'Lexend' !important; 
  }
  .cbb-also-bought-add-to-cart-button span {
    font-family: "Avenir-Next-Condensed";

  }
</style>