{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
footer { box-sizing: border-box; }
div { box-sizing: border-box; }
.klaviyo-form-SLiQ87 { border-bottom: 1px solid #f04e4c; }
.facebook-cta, .instagram-cta {
    border-radius: 100%;
    width: 40px;
    display: inline-block;
    height: 40px;
    text-align: center;
}
.icon {
    width: 30px;
    padding-top: 5px;
    text-align: center;
}
</style>

<footer class="fw" id="site-nav-footer">
  <div class="background-white flex-container double-accent-padding fw" style="white-space: nowrap; justify-content: space-around; margin-top: -20px">
    <div class="accent-padding">
      <div id="footer-signup-wrapper">
        <h3 class="tac nm ttu">Sign Up for 20% Off</h3>
        <div class="klaviyo-form-SLiQ87"></div>
        <div class="fw">
          <a href="https://www.instagram.com/pacas.apparel/?hl=en">
          <div class="instagram-cta background-red">
            <img src="{{'ig-w.png' | asset_url}}" class="icon" alt='Instagram'/>
          </div>
          </a>
          <a href="https://www.facebook.com/pacas.apparel/">
          <div class="facebook-cta background-red">
            <img src="{{'fb-w.png' | asset_url}}" class="icon" alt="Facebook" />
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="accent-padding flex-container aifs">
      <div class="accent-padding footer-sublist">
        <h4 class="text-red ttu nm">Shopping</h4>
        <a href="/collections/all-socks"><p class="nm">Socks</p></a>
         <a href="/collections/throw-blankets"><p class="nm">Throw Blankets</p></a>
         <a href="/collections/shawls"><p class="nm">Shawls</p></a>
        <a href="/collections/women"><p class="nm">Women</p></a>
        <a href="/collections/men"><p class="nm">Men</p></a>
        <a href="/collections/kids"><p class="nm">Kids</p></a>
        <a href="/products/pacas-gift-card"><p class="nm">Gift Cards</p></a>
      </div>
      <div class="accent-padding footer-sublist">
        <h4 class="text-red ttu nm">Info</h4>
        <a href="/pages/returns"/><p class="nm">Returns & Exchanges</p></a>
        <a href="/pages/wholesale-purchasing"><p class="nm">Wholesale</p></a>
        <a href="/pages/corporate-gifting"><p class="nm">Corporate Gifting</p></a>
        <a href="/pages/rewards"><p class="nm">Rewards</p></a>
        <a href="/pages/contact-us"><p class="nm">Contact Us</p></a>
        <a href="https://pacas.mymalomo.com/"><p class="nm">Order Status</p></a>
        <a href="/pages/privacy-policy"/><p class="nm">Privacy Policy</p></a>
      </div>
       <div class="accent-padding footer-sublist">
        <h4 class="text-red ttu nm">About</h4>
        <a href="/pages/reviews"><p class="nm">Reviews</p></a>
<!--         <a href="/pages/giving-back"><p class="nm">Giving Back</p></a>
 -->        <a href="/pages/our-story"><p class="nm">Our Story</p></a>
        <a href="/pages/alpaca-facts"><p class="nm">About Alpacas</p></a>
        <a href="/pages/live-feed"><p class="nm">Live Feed</p></a>
<!--         <a href="/pages/faq"><p class="nm">FAQ</p></a>
 -->      </div>
    </div>
  </div>
  <div class="fw background-natural tar accent-padding">
    <img src="{{'new-logo.png' | asset_url}}" class="logo" alt="Pacas Logo"/>
  </div>

</footer>
