  <div class="fw background-natural tar accent-padding">
    <img src="{{'new-logo.png' | asset_url}}" class="logo"/>
  </div>

<style>
  #shopify-section-wholesale-footer { margin-bottom: -19vw; }
  div { box-sizing: border-box; }
</style>