<main>
  <section class="background-white tac accent-padding">
      <h1 class="ttu nmb">Page Not Found</h1>
      <p>We're sorry, we can't find the page you requested. Try one of these links to get back on track.</p>
            <div class="animated-button-red animated-button ib" >
               <a href="/collections/women">     
              <h2 class="text-natural ttu tac">  
Shop Women</h2></a>
    </div>
                      <div class="animated-button-teal animated-button ib">
               <a href="/collections/men">     
              <h2 class="text-natural ttu tac">  
Shop Men</h2></a>
            </div>
         <a href="/pages/alpaca-facts">
        <div class="animated-button-purple animated-button ma">
          <h2 class="text-natural ttu tac">About Alpacas</h2>
        </div>
      </a>
    <h1 class="vis-hid nm">404</h1>
  </section>
</main>