    <main id="giveaway-page" class="background-white double-accent-padding">	     
        <section class="index-padding">
          {{ page.content }}
	    </section>
    </main>

    <style>
      #giveaway-page p, #giveaway-page ul li, #giveaway-page ol li { font-size: 12pt !important;}
    </style>