{% layout 'theme.wholesale' %} 
  

<main id="page" class="background-white">	     
        <section class="accent-padding background-white fh">
          <h1 class="detail-accent ttu tac">Questions / Concerns?</h1>
          <p class="tac">Please contact our wholesale team at <a href="mailto:wholesale@pacas.us" class="text-purple">wholesale@pacas.us</a>.</p>
  	</section>
    </main>

<style>
  @media only screen and (min-width: 1100px) {
h1 {
    font-size: 6vw;
}
  }
  main { min-height: 80vh; } 
</style>