    <main id="giveaway-entry" class="background-white accent-padding">	     
        <section class="index-padding">
          <h3 class="tac nmb ttu">Oliver Thomas & Pacas - Giveaway</h3>
          <p class="tac nmt">Enter our giveaway for a chance to win.</p>
          <div class="klaviyo-form-SG234V" ></div>
        </section>
    </main>
    <style>
      #giveaway-entry .klaviyo-form { justify-content: center; margin: 0 auto;}
    </style>